.form-container {
  width: 600px;
  padding  : 5rem 3rem;
  background-color: #e6f7ff;
  display: flex;
  flex-direction: column;
  margin-top : 2rem;
}
.signup-but {
    font-size : 20px;
    width: 30%;
}
.error-messages {
  margin-top: 1rem;
}
